.backgroundTabChooseVerify {
  background: #fff;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0.2rem 1.5rem;
  border: 0.5px solid #E3E3E3;
}

.tabChooseVerify {
  width: 10vw;
  text-align: center;
  background: #ffffff;
  border-radius: 1rem;
  padding: 0.3rem 1.2rem;
  cursor: pointer;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
  transition: all 0.3s ease;
}

.tabChooseVerify.active {
  background: #afd5f4;
  color: #000000;
  font-weight: bold;
}

.searchContainer {
  display: flex;
  justify-content: center;
}

.searchInput {
  width: 20vw;
  background: #fff;
  border-radius: 1.5rem;
  padding: 0.4rem 1rem;
  border: 0.5px solid #E3E3E3;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); box-shadow: E3E3E3;*/
}
