.student-layout {
  display: flex;
  padding: 30px;             /* กำหนดช่องว่างภายใน 20px รอบๆ เนื้อหา */
  background: #E3F2FD;       /* กำหนดสีพื้นหลังเป็นสีฟ้าอ่อน */
  min-height: 100vh;         /* กำหนดความสูงขั้นต่ำเท่ากับความสูงของหน้าจอ */
  min-width: 100vw;        
}
.student-profile-container {
  display: flex;
  gap: 40px;
  align-items: stretch;
}

.student-profile-left {
  text-align: center;
  padding: 50px;
}

.student-avatar-container {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.student-avatar-edit-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #1890ff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  box-shadow: 0 0 0 2px white;
}


.student-name {
  font-size: 20px;
  font-weight: bold;
  color: #111;
  margin-bottom: 6px;
}

.student-major {
  font-size: 14px;
  color: #666;
  font-style: italic;
  margin: 0;
}

.student-university {
  font-size: 16px;
  color: #444;
  margin: 2px 0;
}

.student-profile-details {
  flex: 1;
}

.student-job-calendar-section {
  display: flex;
  gap: 20px;
}

.student-calendar-card {
  width: 400px;
  text-align: center;
  margin-top: 10px;
}

.studdent-divider {
  height: 1px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 4px; /* มุมโค้งเล็กน้อย */
  margin: 16px 0;
  filter: blur(2px);
}

.studdent-vertical-divider {
  width: 1px;
  height: auto; /* จะยืดตาม container */
  background-color: #D9D9D9;
  border: none;
  border-radius: 4px;
  margin: 0 16px;
  filter: blur(1px); /* เบลอเล็กน้อยพอเหมาะ */
  align-self: stretch; /* ใช้กับ flex ให้เต็มความสูง */
}

.student-divider-section {
  margin-top: 10px;
}
.student-profile-title {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.student-profile-text {
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
  margin-right: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.student-profile-line {
  flex: 1;
  height: 2px;
  margin-top: 9px;
  background-color: rgba(153, 153, 153, 0.6);
  border-radius: 2px;
}
